body {
	font-family: sans-serif;
	background-color: rgb(29 84 205 / 66%);
}

h1 {
	color: white;
	margin-bottom: 40px;
	margin-left: 10px;
	text-align: center;
}

p {
	color: white;
	margin-left: 10px;
	margin-right: 10px;
}

.btn-close {
	margin-bottom: 60px;
	margin-left: 10px;
	margin-top: 10px;
}




/* 동물친구 아이콘 기본셋팅 */

.body {
  width: 90px;
  height: 100px;
  margin-top:100px;
  margin-right:50%;
}

.body, .body:before, .body:after {
  position: absolute;
}

.body:before, .body:after {
  content: "";
}

.face, .face:before, .face:after,
.features,
.features:before,
.features:after {
  position: absolute;
}
.face:before, .face:after,
.features:before,
.features:after {
  content: "";
}

.bodySlant {
  background-color: #e6ac4c;
  border-radius: 4px;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(20deg);
}

.earsBasic:before, .earsBasic:after {
  width: 0;
  height: 0;
  top: -25px;
  border-top: 28px solid transparent;
  border-bottom: 20px solid transparent;
}
.earsBasic:before {
  border-left: 20px solid #e6ac4c;
  left: 0;
}
.earsBasic:after {
  border-right: 20px solid #e6ac4c;
  right: 0;
}






/* 곰 */

.bear {
  top: 330px;
  left: 10%;
  height: 120px;
  background-color: #5a3d0d;
}

.bear.alt {
  left: 60px;
  top: 230px;
  width: 70px;
  height: 70px;
  border-radius: 50%/45% 45% 35% 35%;
  box-shadow: 0 54px 0 -12px #d0ba96, 0 54px 0 2px #5a3d0d, -18px -23px 0 -25px #d0ba96, 18px -23px 0 -25px #d0ba96, -18px -23px 0 -20px #5a3d0d, 18px -23px 0 -20px #5a3d0d, -17px 84px 0 -22px #5a3d0d, 17px 84px 0 -22px #5a3d0d;
}
.bear.alt:before {
  left: -16px;
  top: 56px;
  width: 30px;
  height: 25px;
  background-color: #5a3d0d;
  border-radius: 50%/40%;
  box-shadow: -1px 0 #d0ba96, 72px 0 #5a3d0d, 73px 0 #d0ba96;
}
.bear.alt:after {
  display: none;
}
.bear.alt .face {
  left: 20px;
}
.bear.alt .features {
  display: none;
}
.bear:before {
  top: -22px;
  left: 0;
  width: 35px;
  height: 26px;
  background-color: #5a3d0d;
  border-radius: 50% 50% 0 0/70%;
  box-shadow: 55px 0 #5a3d0d;
}
.bear:after {
  top: 50px;
  left: -12px;
  width: 14px;
  height: 15px;
  background-color: #d0ba96;
  border-radius: 40%;
  box-shadow: 100px 0 #d0ba96, 97px 0px 0px 8px #5a3d0d, 3px 0px 0px 8px #5a3d0d, 18px 65px #d0ba96, 18px 65px 0px 6px #5a3d0d, 82px 65px #d0ba96, 82px 65px 0px 6px #5a3d0d;
  animation: wave 8s infinite linear;
}
.bear .face {
  top: 24px;
  left: 30px;
  width: 30px;
  height: 30px;
  background-color: #d0ba96;
  border: 0;
  border-radius: 50%;
}
.bear .face:before {
  top: 5px;
  left: 11px;
  z-index: 5;
  width: 8px;
  height: 8px;
  background-color: #2f1f05;
  border-radius: 50%;
  box-shadow: -3px 0 #2f1f05, -2px 0 #2f1f05, 2px 0 #2f1f05, 3px 0 #2f1f05, 0 3px #2f1f05, -12px -12px #2f1f05, 12px -12px #2f1f05;
}
.bear .face:after {
  left: 12px;
  top: 11px;
  width: 10px;
  height: 10px;
  border-bottom: 3px solid #000;
  border-radius: 40%;
  transform: rotate(-30deg);
}
.bear .features {
  top: 65px;
  left: 23px;
  width: 45px;
  height: 45px;
  background-color: #d0ba96;
  border-radius: 40%;
}
.bear .features:before {
  top: -77px;
  left: -12px;
  width: 14px;
  height: 8px;
  background-color: #d0ba96;
  border-radius: 50% 50% 0 0/70%;
  box-shadow: 55px 0 #d0ba96;
}
@keyframes wave {
  50% {
    box-shadow: 100px 0 #d0ba96, 97px 0px 0px 8px #5a3d0d, 3px 0px 0px 8px #5a3d0d, 18px 65px #d0ba96, 18px 65px 0px 6px #5a3d0d, 82px 65px #d0ba96, 82px 65px 0px 6px #5a3d0d;
  }
  55% {
    box-shadow: 99px -6px #d0ba96, 96px -6px 0px 8px #5a3d0d, 3px 0px 0px 8px #5a3d0d, 18px 65px #d0ba96, 18px 65px 0px 6px #5a3d0d, 82px 65px #d0ba96, 82px 65px 0px 6px #5a3d0d;
  }
  60% {
    box-shadow: 100px 0 #d0ba96, 97px 0 0px 8px #5a3d0d, 3px 0px 0px 8px #5a3d0d, 18px 65px #d0ba96, 18px 65px 0px 6px #5a3d0d, 82px 65px #d0ba96, 82px 65px 0px 6px #5a3d0d;
  }
  65% {
    box-shadow: 99px -6px #d0ba96, 96px -6px 0px 8px #5a3d0d, 3px 0px 0px 8px #5a3d0d, 18px 65px #d0ba96, 18px 65px 0px 6px #5a3d0d, 82px 65px #d0ba96, 82px 65px 0px 6px #5a3d0d;
  }
  70% {
    box-shadow: 100px 0 #d0ba96, 97px 0 0px 8px #5a3d0d, 3px 0px 0px 8px #5a3d0d, 18px 65px #d0ba96, 18px 65px 0px 6px #5a3d0d, 82px 65px #d0ba96, 82px 65px 0px 6px #5a3d0d;
  }
}









/* 사자 */

.lion {
  top: 230px;
  left: 60%;
  width: 70px;
  height: 70px;
  background-color: #df8f2b;
  border-radius: 50%/45% 45% 35% 35%;
  box-shadow: -13px -29px 0 -15px #b2701e, -29px -8px 0 -15px #b2701e, -23px 19px 0 -15px #b2701e, 0px 30px 0 -15px #b2701e, 23px 18px 0 -15px #b2701e, 27px -8px 0 -15px #b2701e, 13px -27px 0 -15px #b2701e, -17px 84px 0 -22px #df8f2b, 17px 84px 0 -22px #df8f2b, 0 54px #df8f2b;
  margin-top:200px;
}

.lion:before {
  left: -14px;
  top: 72px;
  width: 25px;
  height: 25px;
  background-color: #df8f2b;
  border-radius: 50%/40%;
  box-shadow: -1px 0 #b2701e, 72px 0 #df8f2b, 73px 0 #b2701e;
}
.lion:after {
  top: 75px;
  right: -20px;
  z-index: -1;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-bottom: 5px solid #df8f2b;
  border-left: 0;
  border-right: 0;
  box-shadow: 16px 3px 0 -13px #b2701e, 17px 3px 0 -13px #f1f1f1, 19px 5px 0 -13px #b2701e;
}

.lion .face {
  top: 36px;
  left: 32px;
  width: 6px;
  height: 7px;
  background-color: #000;
  border-radius: 50%;
  box-shadow: -3px 0 #000, 3px 0 #000, 0 2px #000, -10px -14px #000, 10px -14px #000;
}

.lion .face:before, .lion .face:after {
  top: 0;
  left: -14px;
  width: 16px;
  height: 20px;
  border-radius: 50%/40%;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  border-left: 2px solid transparent;
  border-top: 2px solid transparent;
  box-shadow: 0px 0px #000;
  margin-left:2px;
}

.lion .face:after {
  left: 0px;
  transform: rotateY(180deg);

}

